body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(237, 231, 231, 0.741);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: white;
}
#time{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.75);
    margin-bottom: 35px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color:white;
    transition: background-color 0.5s ease;
}
#startbtn{
    background-color: hsl(120, 73%, 36%);
}
#startbtn:hover{
    background-color: hsl(120, 73%, 26%);
}
#stopbtn{
    background-color: hsl(0, 93%, 61%);
}
#stopbtn:hover{
    background-color: hsl(0, 93%, 51%);
}
#resetbtn{
    background-color: hsl(0, 0%, 50%);
}
#resetbtn:hover{
    background-color: hsl(0, 0%, 40%);
}